# Core
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
mysql-connector-python==9.5.0
python-dotenv==1.2.1

# Auth & Security
Flask-WTF==1.2.2
Flask-Limiter==4.1.1
cryptography==46.0.3

# Cache & Background
Flask-Caching==2.3.1
Flask-Compress==1.23
apscheduler==3.11.2
redis==5.2.1
rq==2.7.0

# PDF & Images
weasyprint==68.1
qrcode==8.2
pypdf==6.8.0
Pillow==12.1.1

# Infrastructure & Integration
pyairtable==3.3.0
sshtunnel==0.4.0
paramiko==3.4.0
requests==2.32.5