.about_us-container p {
    margin-bottom: 3em;
    font-size: 1.2em;
    font-weight: 400;
}

.about_us-container ul {
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 400;
     list-style-type: none;
}
.about_us-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}    

.about_us-container ul li img {
    width: 10vw;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(1);
}
.about_us-container ul li div {
    width: 65vw;
    vertical-align: middle;
}
.about_us-container ul li span {
    display: inline-block;
    margin-right:12px;
}    