@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
            transform: translateY(14px);
  }
}



.animation__banner-title {
    animation-name:fadeInDown;
    animation-delay: 0.1s;
}