/* hero banner */
.categories-hero-banner {
    height: 90svh;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.categories-hero-banner-titlewrapper {
    position: relative;
    top: -5vh;

}

.categories-hero-banner-titlewrapper-title {
    font-size: 5.4em;
}

.categories-hero-banner-textwrapper-text {
    font-size: 1.8em;
}

.categories-hero-banner-slogan-text {
    margin-bottom: 1vh;
}

.bg-vehicles {
    background-image: url(/static/imgs/bgs/bg_vehicles.jpeg);
}

/* solutions */
.categories-solutions {
    flex-direction: column;
    padding-bottom: 5vw;
}

.categories-solutions-categories {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.categories-solutions-categories-categorywrapper {
    width: 20vw;
    margin: 0vw 5vw 4vw 5vw;
}

.categories-solutions-categories h3 {
    position: relative;
    top: 0.5em;
    z-index: 2;
}

.categories-solutions-categories img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: filter 0.3s linear;
}

.categories-solutions-categories-img-link:hover img {
    filter: brightness(0.9);
}

/* MOBILE VERSION */
@media (orientation: portrait) {

    /*  HERO BANNER */
    .categories-hero-banner-titlewrapper-title {
        font-size: 3.2em;
    }

    .categories-hero-banner-textwrapper-text {
        font-size: 1.0em;
    }


    /* LIST MOBILE*/
    .categories-solutions-categories {
        justify-content: center;
    }

    .categories-solutions-categories-categorywrapper {
        width: 60vw;
    }

}