/* hero banner */
.categories-hero-banner {
    height: 90svh;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.categories-hero-banner-titlewrapper {
    position: relative;
    top: -5svh;

}

.categories-hero-banner-textwrapper-text {
    font-size: clamp(1rem, 2vw, 3rem);
}

.categories-hero-banner-slogan-text {
    margin-bottom: 1svh;
}

.bg-vehicles {
    background-image: url(/static/imgs/bgs/bg_vehicles.jpeg);
}

/* solutions */
.categories-solutions {
    flex-direction: column;
    padding-bottom: 5vw;
}

.categories-solutions-categories {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.categories-solutions-filters-dropdown {
    width: 80vw;
}

.categories-solutions-filters-dropdown-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4vw 1.2vw;
    background-color: var(--white-2);
    transition: background-color 0.2s ease;
}

.categories-solutions-filters-dropdown-button:hover {
    cursor: pointer;
    background-color: var(--yellow-1);
}

.categories-solutions-filters-dropdown-icon {
    width: clamp(0.6rem, 1vw, 1.6rem);
    height: min-content;
    display: flex;
}

span.categories-solutions-filters-dropdown-text {
    margin-left: 0.4rem;
    line-height: 1.3rem;
    font-weight: 300;
    font-size: clamp(0.4rem, 0.8vw, 1.2rem);
}

.categories-solutions-categories-categorywrapper {
    width: 20vw;
    margin: 0vw 5vw 4vw 5vw;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.categories-solutions-categories h3 {
    position: relative;
    top: 0.5em;
    z-index: 2;
    font-size: clamp(1rem, 2vw, 3rem);
}

.categories-solutions-categories img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: filter 0.3s linear;
}

.categories-solutions-categories-img-link:hover img {
    filter: brightness(0.9);
}

/* MOBILE VERSION */
@media (orientation: portrait) {

    /* LIST MOBILE*/
    .categories-solutions-categories {
        justify-content: center;
    }

    .categories-solutions-categories-categorywrapper {
        width: 60vw;
    }

}