.contact-container-columns p {
    font-size: 1.2em;
}
.contact-container-columns {
    display: flex;
    flex-direction: row;
}
.contact-container-columns-left {
    width: 30vw;
}
.contact-container-columns-right {
    width: 60vw
}
.contact-container-columns-right-map {
    width: 100%;
    aspect-ratio: 2;
}