.contact-container-columns p {
    font-size: 1.2em;
}

.contact-container-columns {
    display: flex;
    flex-direction: row;
}

.contact-container-columns-left {
    width: 30vw;
}

.contact-container-columns-right {
    width: 60vw
}

.contact-container-columns-right-map {
    width: 100%;
    aspect-ratio: 2;
}
.contact-container-columns-right-map img {
    width: 100%;
    filter: brightness(1);
    transition: filter 0.2s ease-in-out;
}
.contact-container-columns-right-map img:hover {
    filter: brightness(0.7);
}


/* MOBILE VERSION */


@media (orientation: portrait) {
    .contact-container-columns {
        flex-direction: column;
    }

    .contact-container-columns-right {
        width: 84vw;
    }
}