
.filtersliders-container {
    display: flex;
    column-gap: 2vw;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        max-height 1s ease,
        opacity 0.5s ease,
        transform 1s ease;
}

.slider-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: var(--white-2); */
    padding: 1.5vw 4vw;
}

.slider-container-wrapper {
    margin: 1vw 0 0 0;
}

.slider-container-wrapper-labels {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em 0;
    width: 100%;
}

.slider-container-wrapper-labels span {
    justify-content: center;
    aspect-ratio: 1;
    width: clamp(0.8rem, 0.8vw, 1.6rem);
    display: inline-flex;
}

.slider-container-wrapper-value_wrapper {
    margin: 0;
    font-weight: 300;
}

.slider-container-title {
    font-size: clamp(0.6rem, 1.2vw, 1.8rem);
    font-weight: 500;
}

.slider-container-wrapper-value_wrapper .slider__value {
    font-size: clamp(0.8rem, 2vw, 3rem);
}

.slider-container-wrapper-value_wrapper .slider__unit {
    font-size: clamp(0.6rem, 0.8vw, 1.6rem);
    color: var(--white-4);
}

.slider-container-wrapper-value_wrapper .slider__description {
    font-size: clamp(0.4rem, 0.6vw, 1.2rem);
    color: var(--grey-2);
    display: block;
}

.slider-container-slider_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterslider-is-hiding {
    opacity: 0;
    transform: translateY(10px);
}

.filterslider-is-hidden {
    display: none;
}

.filterslider-is-showing {
    opacity: 0;
    transform: translateY(10px);
}

.filterslider-is-open {
    max-height: fit-content;
    opacity: 1;
    transform: translateY(0);
}

/* MOBILE VERSION */


@media (orientation: portrait) {

    .filtersliders-container {
        flex-direction: column;
        align-items: center;
        width: 60vw;
    }

    .slider-container {
        width: 90%;
        padding: 0;
    }

    .filterslider-is-open {
        max-height: 55vw;
    }
}