.footer {
    flex-direction: column;
    align-items: flex-start;
}
.footer-wrapper {
    padding-top: 10vh;
    height: 50vh;
    display: flex;
}
.footer-wrapper h3{
    font-size:1.8em;
    margin-bottom: 3vh;
}
.footer-testimonials {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer-testimonials > * {
    width: 20vw;
}
.footer-testimonials img {
    width: 100%;
}
.footer-links {
    display: flex;
    width: 60vw;
    margin-left:10vw;
    justify-content: space-between;
}
.footer-links a {
    color: var(--white-2);
}

.footer-links p {
    font-weight:300;
}