.footer {
    flex-direction: column;
    align-items: flex-start;
}

.footer-wrapper {
    padding: 10vh 0;
    display: flex;
}

.footer-wrapper h3 {
    margin-bottom: 3vh;
}

.footer-testimonials {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-testimonials>* {
    width: 20vw;
}

.footer-testimonials img {
    width: 100%;
}

.footer-links {
    display: flex;
    width: 60vw;
    margin-left: 10vw;
    justify-content: space-between;
}

.footer-links a {
    color: var(--white-2);
}

.footer-links p {
    font-weight: 300;
}

/* MOBILE VERSION */
@media (orientation: portrait) {

    .footer-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-testimonials {
        width: 60%;
    }

    .footer-testimonials>* {
        width: 100%;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-wrapper {
        height: auto;
        padding: 10vw 0;
    }

    .footer-links-wrapper {
        width: 25%;
        padding: 10%;
    }
}