.grips-solutions {
    row-gap: 5vw;
}

.grip-description-wrapper {
    justify-content: center;
    column-gap: 2vw;
}

.grip-description-right {
    height: 100%;
    width: auto;
    aspect-ratio: 3 / 2;
}

.grips-specs-details {
    margin: 0;
    width: 25vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-items: center;
}

.grips-specs-details-detail-wrapper {
    margin-inline: 0 !important;

}

.grips-specs-details-detail-wrapper p {
    font-size: clamp(0.6rem, 1vw, 2rem);
    max-width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.grips-specs-details-detail-wrapper-value {
    word-wrap: break-word;
}

.grips-specs-details-detail-wrapper-label {
    text-transform: uppercase;
    color: var(--white-4);
    font-size: clamp(0.5rem, 0.7vw, 1.5em);
}

.grip-item-wrapper h3 {
    position: relative;
    top: 0.5em;
    z-index: 2;
    font-size: clamp(1rem, 2vw, 3rem);
}

/* MOBILE VERSION */


@media (orientation: portrait) {
    .grips-specs-details {
        width: 80vw;
    }

    .grips-specs-details-detail-wrapper p {
        max-width: 38vw;
    }
}