.grips-solutions {
    row-gap: 5vw;
}

.grip-description-wrapper {
    justify-content: center;
    column-gap: 2vw;
}

.grip-description-right {
    height: 100%;
    width: auto;
    aspect-ratio: 3 / 2;
}

.grips-specs-details {
    margin: 0;
    width: 25vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.grips-specs-details-detail-wrapper p {
    font-size: clamp(0.4rem, 0.8vw, 2rem);
}

.grips-specs-details-detail-wrapper-label {
    text-transform: uppercase;
    color: var(--white-4);
    font-size: clamp(0.3rem, 0.7vw, 1.5em);
}

.grip-item-wrapper h3 {
    position: relative;
    top: 0.5em;
    z-index: 2;
    font-size: clamp(1rem, 2vw, 3rem);
}

/* MOBILE VERSION */


@media (orientation: portrait) {
    .grips-specs-details {
        width: 100%;
    }
}