/* hero banner */
.home-hero-banner {
    height: 90svh;
    background-image: url(/static/imgs/bgs/bg_home.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-hero-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    z-index: 2;
}

.home-hero-banner video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.home-hero-banner-slogan,
.home-hero-banner-buttons {
    position: relative;
    top: -5svh;
    z-index: 3;
}

.home-hero-banner-slogan-text {
    margin-bottom: 1svh;
    font-size: clamp(1.6rem, 4vw, 3.6rem);
}

/* testimonials */
.home-testimonials {
    display: flex;
    align-items: center;
}
.home-testimonials-textwrapper-text {
    white-space: pre-wrap;
}

.home-testimonials>* {
    width: 50%;
    height: 40svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-testimonials-logo img {
    height: 10vw;
}

/* solutions */
.home-solutions {
    flex-direction: column;
    padding-bottom: 5vw;
}

.home-solutions-categories {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.home-solutions-categories h3 {
    position: relative;
    top: 0.5em;
    z-index: 2;
    font-size: clamp(1rem, 2vw, 3rem);
}

.home-solutions-categories img {
    height: 20vw;
    aspect-ratio: 1;
    object-fit: cover;
    transition: filter 0.3s linear;
}

.home-solutions-categories-img-link:hover img {
    filter: brightness(0.9);
}

/* references */
.home-references {
    flex-direction: column;
}

.home-references-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

.home-references-group {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .home-references-wrapper img {
    height: 3svh;
    margin: 4vw 5svh;
    flex-shrink: 0;
    filter: grayscale(1) brightness(0.3);
    transition: filter 0.5s ease;
    cursor: url(/static/imgs/cursors/cursor-yellow.svg), pointer;
    ;
} */
.logo {
  width: 7vw;
    aspect-ratio: 10 / 2;

  background-color: var(--logo-color, var(--grey-1));

  -webkit-mask-image: var(--logo-url);
  mask-image: var(--logo-url);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;

  transition: background-color 0.3s ease;
}

/* Couleur globale */
.home-references-group {
  --logo-color: var(--black-1);
}

/* Exemple hover */
.logo:hover {
  background-color: var(--yellow-1);
  cursor: pointer;
}


.home-references-wrapper img:hover {
    filter: grayscale(1) brightness(0);
}

.duplicated-group {
    display: none;
}

/* MOBILE VERSION */


@media (orientation: portrait) {

    /* TESTIMONIALS MOBILE */
    .home-testimonials {
        flex-direction: column;
        margin-top: 15vw;
    }

    .home-testimonials-logo img {
        height: 20vw;
    }

    .home-testimonials>* {
        width: 90%;
        height: fit-content;
    }

    /* SOLUTIONS MOBILE */
    .home-solutions-categories {
        flex-direction: column;
        align-items: center;
    }

    .home-solutions-categories img {
        height: 60vw;
    }

    /* REFERENCES MOBILE */
    .home-references {
        overflow: hidden;
        width: 100%;
    }

    .home-references-wrapper {
        display: flex;
        flex-wrap: nowrap;
        will-change: transform;
        justify-content: flex-start;
    }

    .home-references-group {
        display: inline-flex;
        flex-wrap: nowrap;
        width: max-content;
        gap: 4svh;
        padding-right: 4svh;
    }

    .home-references-group .logo {
        width: 25vw;
    }

    .duplicated-group {
        display: inline-flex;
    }
}