main {
    width: 100vw;
}
.section-site {
    position: relative;
    width: 100vw;
    margin-inline: auto;
}
.section-site > * {
    display: flex;
    align-items: center;
    padding-inline: 5vw;
}
.title-section {
    position: relative;
    margin: 5vw 0;
}

.title-textual-section {
    line-height: 1.5em;
}

.tag-job {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 500;
    background-color: var(--white-3);
    display: inline;
    padding: 4px 8px;
    border-radius: 16px;
}

.tag-job-yellow {
        background-color: var(--yellow-1);
}
.dot-before:before {
    content:"â— ";
    color:var(--yellow-1);
    vertical-align: text-bottom;
    font-size:0.8em;
    position: absolute;
    left:-2ch;
    z-index: 3;
}
.main-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:3vw;
}
.main-wrapper > *:not(h1) {
    position: relative;
    left: 3vw;
}


/* Aminations JS */
.js .count-up { visibility: hidden; }
.count-up.is-visible { visibility: visible; }