.splide__arrow {
    background: var(--white-2);
    border-radius: 0;
    height: 4em;
    width: 4em;
    opacity: 1;
}
.splide__arrow:hover:not(:disabled) {
    background-color: var(--yellow-1);
    opacity: 1;
}
.splide__pagination__page {
    background: var(--white-3);
}
.splide__pagination__page.is-active {
    background: var(--yellow-1);
}    
.splide__pagination {
    bottom: -1.5em;
    display: none;
}   
.splide__list {
    background-color: var(--white-3);
} 
.splide__track {
    width: 45vw;
    height: 30vw;
}
.splide__slide img {
    width: 100%;
}