/* imports */
@import url("normalize.css");
@import url("main.css");
@import url("slider.css");
@import url("header.css");
@import url("footer.css");
@import url("home.css");
@import url("categories.css");
@import url("vehicle.css");
@import url("grips.css");
@import url("about-us.css");
@import url("contact.css");
@import url("terms-and-conditions.css");
@import url("animation.css");
@import url("mouse-srolling-animation.css");
@import url("filtersliders.css");

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/*overall style*/
:root {
    --white-1: #FFFFFF;
    --white-2: #FAFAFA;
    --white-3: #F4F4F4;
    --white-4: #A1A1A1;
    --grey-1: #151515;
    --grey-2: #515151;
    --grey-3: #1A1A1A;
    --yellow-1: #FFC845;

    --base-font-size: 12px;

}

html {
    height: -webkit-fill-available;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    background-color: var(--white-1);
    color: var(--grey-1);
    font-size: var(--base-font-size);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    min-height: -webkit-fill-available;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-style: normal;
    caret-color: transparent;
}

p {
    line-height: 1.6em;
    font-size: clamp(0.6rem, 1vw, 1.6rem);
    text-align: justify;
}

li {
    font-size: clamp(0.6rem, 1vw, 1.6rem);
}

a {
    text-decoration: none;
    color: var(--grey-1);
    transition: color 0.1s linear;
}

a:hover {
    color: var(--yellow-1);
}

.button {
    background-color: var(--white-1);
    border: none;
    color: var(--grey-1);
    padding: clamp(0.6rem, 1vw, 1.1rem) clamp(1.2rem, 1.2vw, 2.5rem);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(0.6rem, 1vw, 1rem);
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    transition: filter 0.2s linear;
}

.button:hover {
    filter: brightness(0.9);
    color: var(--grey-1);
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    padding: 0;
    font: inherit;
    outline: none;
    opacity: .8;
    background: #CCC;
    box-sizing: border-box;
    transition: opacity .2s;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.8vw;
    background: var(--white-3);
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.8vw;
    width: 0.8vw;
    background: var(--yellow-1);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, border-color 0.3s;
}


input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    padding: 0;
    font: inherit;
    outline: none;
    opacity: .8;
    background: #CCC;
    box-sizing: border-box;
    transition: opacity .2s;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.8vw;
    background: var(--white-3);
    border: none;
}

@media (orientation: portrait) {
    input[type="range"]::-webkit-slider-runnable-track {
        height: 3vw;
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.8vw;
    width: 0.8vw;
    background: var(--yellow-1);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, border-color 0.3s;
}

@media (orientation: portrait) {
    input[type="range"]::-webkit-slider-thumb {
        height: 3vw;
        width: 3vw;
    }
}

.img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

h1,
h2,
h3,
h4 {
    /* font-family: "Space Grotesk"; */
    font-weight: 500;
    margin: 0;
}


/* TAILWIND LIKE */
/* font size */
.font-12 {
    font-size: 1.2rem;
}

.font-14 {
    font-size: 1.4rem;
}

.font-16 {
    font-size: 1.6rem;
}

.font-18 {
    font-size: 1.8rem;
}

.font-20 {
    font-size: 2.0rem;
}

.font-22 {
    font-size: 2.2rem;
}

.font-24 {
    font-size: 2.4rem;
}

.font-26 {
    font-size: 2.6rem;
}

.font-28 {
    font-size: 2.8rem;
}

.font-30 {
    font-size: 3.0rem;
}

.font-32 {
    font-size: 3.2rem;
}

.font-34 {
    font-size: 3.4rem;
}

.font-36 {
    font-size: 3.6rem;
}

.font-38 {
    font-size: 3.8rem;
}

.font-40 {
    font-size: 4.0rem;
}

.font-42 {
    font-size: 4.2rem;
}

.font-44 {
    font-size: 4.4rem;
}

.font-46 {
    font-size: 4.6rem;
}

.font-48 {
    font-size: 4.8rem;
}

.font-50 {
    font-size: 5.0rem;
}

.font-52 {
    font-size: 5.2rem;
}

.font-54 {
    font-size: 5.4rem;
}

.font-56 {
    font-size: 5.6rem;
}

.font-58 {
    font-size: 5.8rem;
}

/* font weight */
.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}

/* line height */

.lh-00 {
    line-height: 0;
}

.lh-05 {
    line-height: 0.5em;
}

.lh-10 {
    line-height: 1em;
}

.lh-15 {
    line-height: 1.5em;
}

.lh-20 {
    line-height: 2em;
}

.lh-25 {
    line-height: 2.5em;
}

.lh-30 {
    line-height: 3em;
}

/* colors */
.color-white-1 {
    color: var(--white-1);
}

.color-white-2 {
    color: var(--white-2);
}

.color-white-3 {
    color: var(--white-3);
}

.color-grey-1 {
    color: var(--grey-1);
}

.color-grey-2 {
    color: var(--grey-2);
}

.color-grey-3 {
    color: var(--grey-3);
}

.color-yellow-1 {
    color: var(--yellow-1);
}

/* backgound colors */
.bg-color-white-1 {
    background-color: var(--white-1);
}

.bg-color-white-2 {
    background-color: var(--white-2);
}

.bg-color-white-3 {
    background-color: var(--white-3);
}

.bg-color-grey-1 {
    background-color: var(--grey-1);
}

.bg-color-grey-2 {
    background-color: var(--grey-2);
}

.bg-color-grey-3 {
    background-color: var(--grey-3);
}

.bg-color-yellow-1 {
    background-color: var(--yellow-1);
}

/* margin top-bottom */

.marg-tb-1 {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.marg-tb-2 {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.marg-tb-3 {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.marg-tb-4 {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.marg-tb-5 {
    margin-top: 5vw;
    margin-bottom: 5svw;
}

/* Swup Transition */
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}