/* hero banner */
.vehicle-hero-banner {
    height: 90svh;
    display: flex;
    background-size: cover;
}

.vehicle-hero-banner-wrapper {
    position: relative;
    top: -5svh;
}

.vehicle-hero-banner-img {
    height: 100%;
}

img.top-head {
    top: -10svh;
}

.vehicle-hero-banner-textwrapper-text {
    font-size: clamp(1rem, 1.6vw, 3rem);
}

.vehicle-hero-banner-slogan-text {
    margin-bottom: 1svh;
}

.vehicle-hero-banner img {
    position: absolute;
    height: 60vw;
    z-index: 0;
    right: 0;
}

.vehicle-hero-banner-textwrapper-text {
    width: 30vw;
}

/* description */
.vehicle-description {
    display: flex;
    width: 90%;
    flex-direction: column;
    background-color: var(--white-1);
    margin-bottom: 3vw;
}

.vehicle-description-wrapper {
    display: flex;
    align-items: center;
}

.vehicle-description-right {
    width: 45vw;
    aspect-ratio: 3 / 2;
}

.vehicle-description-left {
    font-size: 1.4em;
    padding: 0 0 0 3vw;
    width: 37vw;
}

/* key_features */
.vehicle-key_features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white-1);
    margin-bottom: 3vw;
}

.vehicle-key_features>div {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--white-1);
}

.vehicle-key_features-title {
    margin-top: 3vw;
}

/* slider */
.vehicle-slider {
    position: relative;
    z-index: 1;
}

.vehicle-slider img {
    width: 100%;
    /* position: relative; */
    /* left: 3%; */
    height: 100svh;
    object-fit: cover;
    object-position: bottom;
}

/* squares highlight */
.vehicle-squared-highlight {
    margin-bottom: 3vw;
}

.vehicle-squared-highlight-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.vehicle-squared-highlight-wrapper-square {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: var(--white-3);
    aspect-ratio: 3 / 2;
    height: 15vw;
    margin: 1.5vw;
    padding: 2vw;
    display: flex;
    height: 15vw;
    margin: 1.5vw;
    padding: 2vw;

}

.vehicle-squared-highlight-wrapper-square:first-child {
    margin-left: 0;
}

.vehicle-squared-highlight-wrapper-square:last-child {
    margin-right: 0;
}

.vehicle-squared-highlight-wrapper-square-value {
    font-size: 10vw;
    line-height: 1em;
    margin: 0;
    font-weight: 300;
}

.vehicle-squared-highlight-wrapper-square-value-plussign {
    font-size: 4vw;
    vertical-align: top;
    position: relative;
    top: 0.5vw;
}

.vehicle-squared-highlight-wrapper-square-unit {
    font-size: 1.2vw;
    margin: 0px;
    font-weight: 300;
    line-height: 0;
    color: var(--grey-2);
}

.vehicle-squared-highlight-wrapper-square-label {
    font-size: 1.5vw;
    line-height: 4vw;
    font-weight: 300;
    width: 90%;
    text-align: center;
    color: var(--grey-2);
    border-top: 1px var(--grey-2) solid;
    margin-bottom: 0;
    margin-top: 3vw;
}

/* configurator */
.vehicle-configurator {
    flex-direction: column;
}

.vehicle-configurator-carousel-wrapper-config-group {
    margin-bottom: 3vw;
}

.vehicle-configurator-carousel-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    padding-bottom: 10vw;
}

.vehicle-configurator-carousel-wrapper-config {
    width: 20vw;
}

.vehicle-configurator-carousel-wrapper-config h3 {
    margin-top: 0;
    margin-bottom: 1vw;
    text-align: left;
    font-size: clamp(1rem, 2vw, 3rem);
}

.vehicle-configurator-carousel-wrapper-config-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

}

.vehicle-configurator-carousel-wrapper-img-container {
    width: 65vw;
}

.vehicle-configurator-carousel-wrapper-img-container img {
    width: 100%;
}

.vehicle-configurator-carousel-wrapper-config-item {
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--grey-2);
    padding: 2ch 4ch 2ch 0;
    text-align: center;
    font-size: clamp(0.7rem, 1.2vw, 2rem);
    font-weight: 400;
    cursor: pointer;
    width: max-content;
}

.vehicle-configurator-carousel-wrapper-config-item:hover {
    color: var(--grey-1);
}

.vehicle-configurator-carousel-wrapper-config-item:hover::before {
    content: "â—";
    color: var(--yellow-1);
    position: absolute;
    left: -2ch;
}

/* technical specifications */
.vehicle-specs {
    display: flex;
    flex-direction: column;
    /* background-color: var(--grey-3);
    color: var(--white-2); */
}

.vehicle-specs-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vw;
}

.vehicle-specs-details>div {
    margin-inline: 2vw;
}

.vehicle-specs-details-detail-wrapper {
    border-top: solid 1px var(--white-4);
    width: 35vw;
}

.vehicle-specs-details-detail-wrapper>p {
    text-transform: uppercase;
    color: var(--white-4);
    font-size: 0.8em;
}

.vehicle-specs-details-detail-wrapper-value {
    font-weight: 400;
    font-size: 1.4em;
    position: relative;
    left: 15vw;
    width: 20vw;
}

.vehicle-specs-diagram-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
}

.vehicle-specs-diagram-wrapper-sideview {
    width: 70%
}

.vehicle-specs-diagram-wrapper-topview {
    width: 30%
}

.vehicle-specs-diagram-wrapper img {
    width: 100%;
}

/* MOBILE VERSION */


@media (orientation: portrait) {

    /* HERO BANNER MOBILE */
    .vehicle-hero-banner img {
        height: 40svh;
        bottom: 0;
    }

    .vehicle-hero-banner {
        justify-content: center;
        flex-direction: row-reverse;
    }

    img.top-head {
        top: -5svh;
    }

    .vehicle-hero-banner-titlewrapper,
    .vehicle-hero-banner-textwrapper {
        text-align: center;
    }

    .vehicle-hero-banner-wrapper {
        top: 15svh;
    }

    .vehicle-hero-banner-wrapper:not(.text-head) {
        top: -25%;
        ;
    }

    .vehicle-hero-banner-textwrapper-text {
        width: auto;
    }

    /* CAROUSSEL MOBILE */

    .vehicle-description-wrapper {
        flex-direction: column;
    }

    .vehicle-description-right {
        width: 90%;
    }

    .vehicle-description-left {
        font-size: 1em;
        width: auto;
    }

    /* KEY FEATURES MOBILE */

    .vehicle-squared-highlight-wrapper-square {
        height: 25vw;
    }

    .vehicle-squared-highlight-wrapper-square-value {
        font-size: 15vw;
    }

    .vehicle-squared-highlight-wrapper-square-unit {
        font-size: 2vw;

    }

    .vehicle-squared-highlight-wrapper-square-label {
        font-size: 2.5vw;
        margin-top: 6.5vw;
    }

    /* CONFIGURATOR MOBILE */

    .vehicle-configurator-carousel-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .vehicle-configurator-carousel-wrapper-config {
        width: auto;
        margin-top: 5vw;
    }


    .vehicle-configurator-carousel-wrapper-config-group {
        display: flex;
        flex-direction: column;
    }

    .vehicle-configurator-carousel-wrapper-config-item {
        text-align: left;
    }

    .vehicle-configurator-carousel-wrapper-img-container {
        width: 80vw;
        margin-top: 5vw;
    }

    /*TECHNICAL SPECS MOBILE */
    .vehicle-specs-details-detail-wrapper-value {
        font-size: 1em;
        left: 30vw;
        width: 40vw;
    }

    .vehicle-specs-details {
        flex-direction: column;
    }

    .vehicle-specs-details-detail-wrapper {
        width: 70vw;
    }
}