{% extends "emails/base_transactional.html" %}

{% block title %}Connexion à Belle Vitesse{% endblock %}

{% block content %}
<h1 class="dot-before">Connexion Admin.</h1>
<p>
    Bonjour {{ firstname }},<br><br>
    Voici votre lien sécurisé pour vous connecter à l'espace d'administration Belle Vitesse :
</p>
<a class="button" href="{{ magic_link }}">Se connecter</a>
<p style="margin-top: 30px; font-size: 14px; font-style: italic;">
    Ce lien expire dans 15 minutes. N'hésitez pas à en redemander un si besoin.
</p>
{% endblock %}