{% extends "emails/base_transactional.html" %}

{% block title %}Décharge Signée - Belle Vitesse{% endblock %}

{% block content %}
<h1 class="dot-before">Décharge Signée.</h1>
<p>
    Bonjour {{ recipient_name }},<br><br>
    Merci d'avoir complété et signé électroniquement la décharge pour le projet :<br>
    <strong>{{ project_name }}</strong>.
</p>
<p>
    Vous trouverez ci-joint la copie signée au format PDF.
</p>
<p style="margin-top: 30px; font-size: 14px; font-style: italic;">
    L'équipe Belle Vitesse.
</p>
{% endblock %}