{% extends "emails/base_transactional.html" %}

{% block title %}Signature Décharge Pilote - Belle Vitesse{% endblock %}

{% block content %}
<h1 class="dot-before">Signature Décharge Pilote.</h1>
<p>
    Bonjour {{ pilot_name }},<br><br>
    Vous êtes invité à compléter et signer électroniquement la <strong>décharge de responsabilité
        pilote</strong> pour le projet :<br>
    <strong>{{ project_name }}</strong>.
</p>
<a class="button" href="{{ signature_link }}">Consulter et Signer</a>
<p style="margin-top: 30px; font-size: 14px; font-style: italic;">
    Ce document est indispensable pour valider votre participation au tournage.
</p>
{% endblock %}