{% extends "layout.html" %}
{% block title %}About us - Belle Vitesse{% endblock %}
{% block content %}
<section class="section-site">
    <div class="main-wrapper about_us-container">
        <h1 class="title-textual-section font-56 lh-20 marg-tb-3">Who we are?</h1>


        {#
        ------------------------------------------------------------------------------------------------------------------
        #}
        <h2 class="dot-before title-textual-section font-30">A Cinematic Motion Company</h2>
        <p>Belle Vitesse specializes in high-level cinematic movement for film and commercial productions.

            We operate across the complete motion pipeline, from camera vehicles to camera supports and remote heads,
            delivering precise, expressive motion in demanding real-world conditions.</p>

        {#
        ------------------------------------------------------------------------------------------------------------------
        #}
        <h2 class="dot-before title-textual-section font-30">In Practice</h2>
        <p>
            Our approach combines custom-developed solutions with the careful selection of best-in-class existing equipment, chosen for its relevance and performance.
            
            Each motion setup is designed to deliver precise, repeatable movement with full control and safety on set.
            
            Depending on the configuration, certain standard tools can be made available independently, while more complex setups are supplied as fully operated solutions.
        </p>


        {#
        ------------------------------------------------------------------------------------------------------------------
        #}
        <h2 class="dot-before title-textual-section font-30">Designed for Real-World Production</h2>
        <p>
            Our systems are shaped by real shooting conditions: urban environments, sound-sensitive sets, tight locations, and complex logistical constraints.
            
            We prioritize low-profile, quiet, and eco-conscious motion platforms to ensure a discreet and efficient on-set footprint..

            <b>Based in Paris, Belle Vitesse operates nationwide across France.</b>
        </p>
    </div>
</section>
{% endblock %}