{% extends "layout.html" %}
{% block title %}{{ ts('seo.contact.title') }}{% endblock %}
{% block description %}{{ ts('seo.contact.description') }}{% endblock %}
{% block content %}
{% block schema %}
{{ super() }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://bellevitesse.com"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Contact",
      "item": "https://bellevitesse.com/contact"
    }
  ]
}
</script>
{% endblock %}
<section class="section-site">
    <div class="main-wrapper contact-container">
        <h1 class="title-textual-section lh-20 marg-tb-3">{{ ts('contact.contact_us.title') }}</h1>
        <div class="contact-container-columns">
            <div class="contact-container-columns-left">
                <h2 class="dot-before title-textual-section">Belle Vitesse SARL</h2>
                <p>
                    33 rue Maurice Gunsbourg<br>
                    94200 IVRY-SUR-SEINE<br>
                    France<br><br>
                    {# <a href="tel:+33189712054">+33 1 89 71 20 54</a><br><br> #}
                    <a href="mailto:contact@bellevitesse.com">contact@bellevitesse.com</a>
                </p>
                <div class="newsletter newsletter-contact">
                    <form class="newsletter-form" novalidate>
                        <input type="email" name="email" placeholder="{{ ts('newsletter.placeholder') }}" required
                            class="newsletter-input">
                        <button type="submit" class="newsletter-button">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </form>
                    <div class="newsletter-message"></div>
                </div>
            </div>
            <div class="contact-container-columns-right">
                <div id="map" class="contact-container-columns-right-map">
                    <a href="https://maps.app.goo.gl/WPGRFRjmoC7LKhZm6" target="_blank"><img
                            src="{{ url_for('static', filename='/imgs/maps/map_33.png') }}"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}