{% extends "layout.html" %}
{% block title %}Contact - Belle Vitesse{% endblock %}
{% block content %}
<section class="section-site">
    <div class="main-wrapper contact-container">
        <h1 class="title-textual-section font-56 lh-20 marg-tb-3">Contact us</h1>
        <div class="contact-container-columns">
            <div class="contact-container-columns-left">
                <h2 class="dot-before title-textual-section font-30">Belle Vitesse SARL</h2>
                <p>
                    39 rue Maurice Gunsbourg<br>
                    94200 IVRY-SUR-SEINE<br>
                    France<br><br>
                    <a href="tel:123Z356476">+33 1 23 45 67 89</a><br><br>
                    <a href="mailto:contact@bellevitesse.com">contact@bellevitesse.com</a>
                </p>
            </div>
            <div class="contact-container-columns-right">
                <div id="map" class="contact-container-columns-right-map">
                    <a href="https://maps.app.goo.gl/9gqrLGoeRjLtQqjq8" target="_blank"><img src="{{ url_for('static', filename='/imgs/maps/map_33.png') }}"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}