{% extends "layout.html" %}
{% block title %}Contact - Belle Vitesse{% endblock %}
{% block content %}
<section class="section-site">
    <div class="contact-wrapper">
        <h1 class="title-textual-section font-56 lh-20">Contact us</h1>
        <div class="contact-wrapper-columns">
            <div class="contact-wrapper-columns-left">
                <h2 class="dot-before title-textual-section font-30">Belle Vitesse SARL</h2>
                <p>
                    39 rue Maurice Gunsbourg<br>
                    94200 IVRY-SUR-SEINE<br>
                    France<br><br>
                    <a href="tel:123Z356476">+33 1 23 45 67 89</a><br><br>
                    <a href="mailto:contact@bellevitesse.com">contact@bellevitesse.com</a>
                </p>
            </div>
            <div class="contact-wrapper-columns-right">
                <div id="map" class="contact-wrapper-columns-right-map"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}