{% set mail = "contact@bellevitesse.com" %}
{% set phone= "+3361234545678" %}
<section class="section-site">
    <div class="footer bg-color-grey-3">
        <div class="footer-wrapper">
            <div class="footer-testimonials">
                <div class="footer-testimonials-logo">
                    <a href="/"><img
                            src="{{ url_for('static', filename='/imgs/logos_and_name/blanc-fond-transparent.png') }}" /></a>
                </div>
                <div class="footer-testimonials-text">
                    <p class="footer-testimonials-subtext">{{static.fields["footer.powerquote"]| safe}}</p>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-links-wrapper">
                    <h3 class=""><a href="{{ url_for('vehicles') }}">Vehicles</a></h3>
                    {% for vehicle in vehicles %}
                        {% if vehicle.fields.status == "Online" %}
                        <p class=""><a href="{{ url_for('vehicle', slug=vehicle.fields.slug) }}">{{vehicle.fields.name}}</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="footer-links-wrapper">
                    <h3 class=""><a href="{{ url_for('heads') }}">Heads</a></h3>
                    {% for head in heads %}
                        {% if head.fields.status == "Online" %}
                        <p class=""><a href="{{ url_for('head', slug=head.fields.slug) }}">{{head.fields.name}}</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="footer-links-wrapper">
                    <h3 class=""><a href="{{ url_for('grips') }}">Grips</a></h3>
                    {% for grips_category in grips_categories %}
                        {% if grips_category.fields.status == "Online" %}
                            <p class=""><a href="{{ url_for('grip_products', slug=grips_category.fields.slug)}}">{{grips_category.fields.name}}</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="footer-links-wrapper">
                    <h3 class="color-white-2">Legals</h3>
                    <p class=""><a href="{{ url_for('terms_and_conditions') }}">Terms & conditions</a></p>
                </div>
                <div class="footer-links-wrapper">
                    <h3 class="color-white-2"><a href="{{ url_for('contact') }}">Contact</a></h3>
                    <p class="color-white-2 font-weight-300">
                        <a href="https://maps.app.goo.gl/gtf7XXeKvutYRq8j8" target="_blank">
                            Belle Vitesse SARL<br />
                            39 rue Maurice Gunsbourg<br />
                            94200 IVRY-SUR-SEINE<br />
                        </a>
                    </p>
                    <p>
                        <a href="tel:{{phone}}" target="_blank">{{phone}}</a>
                    </p>
                    <p>
                        <a href="mailto:{{mail}}" target="_blank">{{mail}}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <p class="color-white-2 font-weight-300">@ Copyright Belle Vitesse {{ now.year }}. All rights reserved.</p>
        </div>
    </div>
</section>