{% extends "layout.html" %}
{% block title %}grips - Belle Vitesse{% endblock %}
{% block content %}
{# <section id="hero-banner" class="section-site">
    <div class="categories-hero-banner img-overlay bg-grips">
        <div class="main-wrapper categories-hero-banner-titlewrapper">
            <h1 class="categories-hero-banner-titlewrapper-title color-white-2">
                grips
            </h1>
            <div class="categories-hero-banner-textwrapper">
                <p class="dot-before categories-hero-banner-textwrapper-text color-white-2 font-weight-300 lh-05">
                    Meet our fleet
                </p>
            </div>
        </div>
        <div class="icon-scroll"></div>
</section> #}
<section id="solutions" class="section-site">
    <div class="categories-solutions">
        <h2 class="dot-before title-section">Our grips</h2>
        <div class="categories-solutions-filters-dropdown" style="visibility: hidden;">
            <p class="categories-solutions-filters-dropdown-button slider-dropdown-button"><span
                    class="categories-solutions-filters-dropdown-icon"><img
                        src="{{ url_for('static', filename='imgs/icons/filter.svg') }}" /></span><span
                    class="categories-solutions-filters-dropdown-text">Filters</span></p>
        </div>
        <div class="categories-solutions-categories">
            {% for grip in grips %}
            {% if grip.fields.status == "Online" %}
            <div class="categories-solutions-categories-categorywrapper">
                <h3>{{ grip.fields.name }}</h3>
                <a class="categories-solutions-categories-img-link"
                    href="{{ url_for('grip', slug=grip.fields.slug) }}">
                    {% if grip.fields.thumbnail[0].thumbnails is defined %}
                    <img src="{{ grip.fields.thumbnail[0].thumbnails.large.url }}" />
                    {% else %}
                    <img src="{{ url_for('static', filename='/imgs/placeholders/grip.jpeg') }}" />
                    {% endif %}
                </a>
            </div>
            {% endif %}
            {% endfor %}
</section>
{% endblock %}