{% extends "layout.html" %}
{% block title %}grips - Belle Vitesse{% endblock %}
{% block content %}
<section id="solutions" class="section-site">
    <div class="categories-solutions grips-solutions">
        <h2 class="dot-before title-section">{{grips_category.fields.name}}</h2>
        {% for grip in grips_products_by_category %}
        <div class="grip-item-wrapper">
            <h3>{{grip.fields.name}}</h3>
            <div class="vehicle-description-wrapper grip-description-wrapper">
                <div class="vehicle-description-right grip-description-right">
                    <div class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for image in grip.fields.gallery %}
                                <li class="splide__slide"><img src="{{ image.thumbnails.full.url }}"
                                        alt="Gallery image" />
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="vehicle-specs grip-specs">
                    <div class="vehicle-specs-details grips-specs-details">

                        {% set excluded_fields = ['name','category', 'created_at', 'created_by', 'status',
                        'gallery',
                        'last_update_by', 'last_update_at', 'thumbnail', 'slug','order'] %}

                        {% for label, value in grip.fields.items() %}
                        {% if label not in excluded_fields %}
                        <div class=" grips-specs-details-detail-wrapper">
                            <p><span class="dot-before grips-specs-details-detail-wrapper-label">{{ label
                                    }} : </span><span class=" grips-specs-details-detail-wrapper-value">{{ value }}
                                </span>
                            </p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}