{% from "macros.html" import square_highlight %}
{% extends "layout.html" %}
{% block title %}{{head.fields.name}} - Belle Vitesse{% endblock %}
{% block content %}
<section id="hero-banner" class="section-site">
    <div class="vehicle-hero-banner bg-color-white-3">
        <div class="vehicle-hero-banner-img">
            <img src="{{ head.fields.banner[0].thumbnails.full.url }}" {% if head.fields.slug=="titan-lt" or
                head.fields.slug=="movi-pro" or head.fields.slug=="ronin-2" %} class="top-head" {% endif %} />
        </div>
        <div class="vehicle-hero-banner-wrapper animate__animated animation__banner-title text-head">
            <div class="vehicle-hero-banner-titlewrapper">
                <h1 class="vehicle-hero-banner-titlewrapper-title font-54 color-grey-1">
                    {{ head.fields.name }}
                </h1>
            </div>
            <div class="vehicle-hero-banner-textwrapper">
                <p class="vehicle-hero-banner-textwrapper-text color-grey-1 font-weight-300 ">
                    {{ head.fields.powerquote }}
                </p>
            </div>
        </div>
</section>

<section class="section-site">
    <div class="vehicle-key_features">
        <div class="vehicle-key_features-title">
            <h2 class="dot-before title-section">Key Features</h2>

        </div>
        <div>
            <div class="vehicle-squared-highlight">
                <div class="vehicle-squared-highlight-wrapper">
                    {{ square_highlight(head.fields.payload, "kg", "Max payload") }}
                    {{ square_highlight(head.fields.weight, "kg", "Weight") }}
                    {{ square_highlight(head.fields.max_operating_speed, "km/h", "Max operating speed") }}
                </div>
            </div>
            {#
        </div>
</section>
<section class="section-site">
    <div class="vehicle-description">
        <div class="vehicle-description-title">
            <h2 class="dot-before title-section">Description</h2>
        </div>#}
        <div class="vehicle-description-wrapper">
            <div class="vehicle-description-right">
                <div class="splide" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in head.fields.gallery %}
                            <li class="splide__slide"><img src="{{ image.thumbnails.full.url }}" alt="Gallery image" />
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vehicle-description-left">
                <p class="font-weight-400">{{ head.fields.description }}</p>
            </div>
        </div>
    </div>
</section>
<section class="section-site">
    <div class="vehicle-specs">
        <h2 class="vehicle-specs-title dot-before title-section">Technical specifications</h2>
        <div class="vehicle-specs-details">

            <div>
                {% for label, value in specs_left.items() %}
                <div class="vehicle-specs-details-detail-wrapper">
                    <p>{{ label }} :</p>
                    <div class="vehicle-specs-details-detail-wrapper-value">
                        <p>{{ value }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div>
                {% for label, value in specs_right.items() %}
                <div class="vehicle-specs-details-detail-wrapper">
                    <p>{{ label }} :</p>
                    <div class="vehicle-specs-details-detail-wrapper-value">
                        <p>{{ value }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}