{% extends "layout.html" %}
{% from "macros.html" import slider %}
{% block title %}Heads - Belle Vitesse{% endblock %}
{% block content %}
{# <section id="hero-banner" class="section-site">
    <div class="categories-hero-banner img-overlay bg-heads">
        <div class="main-wrapper categories-hero-banner-titlewrapper">
            <h1 class="categories-hero-banner-titlewrapper-title color-white-2">
                Heads
            </h1>
            <div class="categories-hero-banner-textwrapper">
                <p class="dot-before categories-hero-banner-textwrapper-text color-white-2 font-weight-300 lh-05">
                    Meet our fleet
                </p>
            </div>
        </div>
        <div class="icon-scroll"></div>
</section> #}
<section id="solutions" class="section-site">
    <div class="categories-solutions">
        <h2 class="dot-before title-section">Our heads</h2>
        <div class="filtersliders-container filterslider-is-open">
            {# SLIDER PAYLOAD #}
            {{ slider(
            title="Which payload do you need?",
            min=2,
            max=18,
            value=2,
            unit="kg",
            filter_key="payload",
            descriptions=[
            (2, "Sony FX3 with 24-70mm"),
            (7, "Red Komodo with Sigma Art"),
            (12, "Alexa35 with Cooke S4"),
            (18, "Arri 435 with Angénieux Optimo")
            ],
            icons=[
            "sony-fx3",
            "red-komodo",
            "arri-alexa-mini",
            "arri-435"
            ]
            ) }}
        </div>
        <div class="categories-solutions-filters-dropdown">
            <p class="categories-solutions-filters-dropdown-button slider-dropdown-button"><span
                    class="categories-solutions-filters-dropdown-icon"><img
                        src="{{ url_for('static', filename='imgs/icons/filter.svg') }}" /></span><span
                    class="categories-solutions-filters-dropdown-text">Filters</span></p>
        </div>
        <div class="categories-solutions-categories">
            {% for head in heads %}
            {% if head.fields.status == "Online" %}
            <div data-payload="{{ head.fields.payload }}" class="categories-solutions-categories-categorywrapper">
                <h3>{{ head.fields.name }}</h3>
                <a class="categories-solutions-categories-img-link" href="{{ url_for('head', slug=head.fields.slug) }}">
                    {% if head.fields.thumbnail[0].thumbnails is defined %}
                    <img src="{{ head.fields.thumbnail[0].thumbnails.large.url }}" />
                    {% else %}
                    <img src="{{ url_for('static', filename='/imgs/placeholders/head.jpeg') }}" />
                    {% endif %}
                </a>
            </div>
            {% endif %}
            {% endfor %}
</section>
{% endblock %}