{% extends "layout.html" %}
{% block title %}{{head.fields.name}} - Belle Vitesse{% endblock %}
{% block content %}
<section id="hero-banner" class="section-site">
    <div class="vehicle-hero-banner bg-color-white-3">
        <img src=" {{ head.fields.banner[0].thumbnails.full.url }}" />
        <div class="vehicle-hero-banner-titlewrapper">
            <h1 class="vehicle-hero-banner-titlewrapper-title font-54 color-grey-1">
                {{ head.fields.name }}
            </h1>
        </div>
        <div class="vehicle-hero-banner-textwrapper">
            <p class="vehicle-hero-banner-textwrapper-text font-12 color-grey-1 font-weight-300">
                {{ head.fields.powerquote }}
            </p>
        </div>
</section>
<section class="section-site">
    <div class="vehicle-description">
        <div class="vehicle-description-title">
            <h2 class="dot-before title-section font-32">Description</h2>
        </div>
        <div class="vehicle-description-wrapper">
            <div class="vehicle-description-right">
                <div class="splide" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for image in head.fields.gallery %}
                            <li class="splide__slide"><img src="{{ image.thumbnails.full.url }}" alt="Gallery image" />
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vehicle-description-left">
                <p class="font-16">{{ head.fields.description }}</p>
            </div>
        </div>
    </div>
</section>
<section class="section-site">
    <div class="vehicle-key_features">
        <div class="vehicle-key_features-title">
            <h2 class="dot-before title-section font-32">Key Features</h2>

        </div>
        <div>
            <div class="vehicle-squared-highlight">
                <div class="vehicle-squared-highlight-wrapper">
                    <div class="vehicle-squared-highlight-wrapper-square">
                        <p class="vehicle-squared-highlight-wrapper-square-value count-up"
                            data-target="{{ head.fields.payload }}" data-duration="1000">{{
                            head.fields.payload }}</p>
                        <p class="vehicle-squared-highlight-wrapper-square-unit">kg</p>
                        <p class="vehicle-squared-highlight-wrapper-square-label">Max payload</p>
                    </div>
                    <div class="vehicle-squared-highlight-wrapper-square">
                        <p class="vehicle-squared-highlight-wrapper-square-value count-up"
                            data-target="{{ head.fields.roll_range }}" data-duration="1000">{{
                            head.fields.roll_range }}</p>
                        <p class="vehicle-squared-highlight-wrapper-square-unit">deg</p>
                        <p class="vehicle-squared-highlight-wrapper-square-label">Roll range</p>
                    </div>
                    <div class="vehicle-squared-highlight-wrapper-square">
                        <p class="vehicle-squared-highlight-wrapper-square-value count-up"
                            data-target="{{ head.fields.tilt_range }}" data-duration="1000">{{
                            head.fields.tilt_range }}</p>
                        <p class="vehicle-squared-highlight-wrapper-square-unit">deg</p>
                        <p class="vehicle-squared-highlight-wrapper-square-label">Tilt range</p>
                    </div>
                </div>
            </div>
        </div>
</section>
{# <section class="vehicle-slider">
    <div class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <ul class="splide__list">
                {% for image in vehicle.fields.gallery|reverse %}
                <li class="splide__slide"><img src="{{ image.thumbnails.full.url }}" alt="Gallery image" /></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section> #}
<section class="section-site">
    <div class="vehicle-specs">
        <h2 class="vehicle-specs-title dot-before title-section font-32">Technical specifications</h2>
        <div class="vehicle-specs-details">

            <div>
                {% for label, value in specs_left.items() %}
                <div class="vehicle-specs-details-detail-wrapper">
                    <p>{{ label }} :</p>
                    <div class="vehicle-specs-details-detail-wrapper-value">
                        <p>{{ value }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div>
                {% for label, value in specs_right.items() %}
                <div class="vehicle-specs-details-detail-wrapper">
                    <p>{{ label }} :</p>
                    <div class="vehicle-specs-details-detail-wrapper-value">
                        <p>{{ value }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}