{% extends "layout.html" %}
{% block title %}Heads - Belle Vitesse{% endblock %}
{% block content %}
<section id="hero-banner" class="section-site">
    <div class="categories-hero-banner img-overlay bg-heads">
        <div class="main-wrapper categories-hero-banner-titlewrapper">
            <h1 class="categories-hero-banner-titlewrapper-title color-white-2">
                Heads
            </h1>
            <div class="categories-hero-banner-textwrapper">
                <p class="dot-before categories-hero-banner-textwrapper-text color-white-2 font-weight-300 lh-05">
                    Meet our fleet
                </p>
            </div>
        </div>
        <div class="icon-scroll"></div>
</section>
<section id="solutions" class="section-site">
    <div class="categories-solutions">
        <h2 class="dot-before title-section font-32">Our heads</h2>
        <div class="categories-solutions-categories font-18">
            {% for head in heads %}
            {% if head.fields.status == "Online" %}
            <div class="categories-solutions-categories-categorywrapper">
                <h3>{{ head.fields.name }}</h3>
                <a class="categories-solutions-categories-img-link"
                    href="{{ url_for('head', slug=head.fields.slug) }}">
                    {% if head.fields.thumbnail[0].thumbnails is defined %}
                    <img src="{{ head.fields.thumbnail[0].thumbnails.large.url }}" />
                    {% else %}
                    <img src="{{ url_for('static', filename='/imgs/placeholders/head.jpeg') }}" />
                    {% endif %}
                </a>
            </div>
            {% endif %}
            {% endfor %}
</section>
{% endblock %}