<section class="section-site">
    <div class="header">
        <div class="header-menu font-12">
            <a href="{{ url_for('vehicules') }}">Vehicules</a>
            <a href="{{ url_for('heads') }}">Heads</a>
            <a href="{{ url_for('supports') }}">Supports</a>
            <a href="{{ url_for('about_us') }}">About us</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
        <div class="header-logo">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='/imgs/Logos/Noir-Fond-Transparent.png') }}"/></a>
        </div>
        <div class="header-social_links">
            <a href="https://www.instagram.com/"><img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxNTE1MTUiIHN0cm9rZS13aWR0aD0iMi4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1pbnN0YWdyYW0taWNvbiBsdWNpZGUtaW5zdGFncmFtIj48cmVjdCB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHg9IjIiIHk9IjIiIHJ4PSI1IiByeT0iNSIvPjxwYXRoIGQ9Ik0xNiAxMS4zN0E0IDQgMCAxIDEgMTIuNjMgOCA0IDQgMCAwIDEgMTYgMTEuMzd6Ii8+PGxpbmUgeDE9IjE3LjUiIHgyPSIxNy41MSIgeTE9IjYuNSIgeTI9IjYuNSIvPjwvc3ZnPg=="/></a>
        </div>
    </div>
</section>