{% macro square_highlight(value, unit, label) %}
<div class="vehicle-squared-highlight-wrapper-square">
    {% if label == "Capacity" %}
    <p class="vehicle-squared-highlight-wrapper-square-value">
        <span>1</span>{% if value and value != 0 %}<span
            class="vehicle-squared-highlight-wrapper-square-value-plussign">+</span><span data-target="{{ value }}"
            data-duration="1500">{{ value }}</span>
        {% endif %}
    </p>
    {% else %}
    <p class="vehicle-squared-highlight-wrapper-square-value count-up" data-target="{{ value }}" data-duration="1000">
        {{ value }}
    </p>
    {% endif %}

    {% if label == "Capacity" %}
    <p class="vehicle-squared-highlight-wrapper-square-unit">
        {% if value and value > 1 %}
        Driver + Passengers
        {% elif value and value == 1 %}
        Driver + Passenger
        {% else %}
        Driver
        {% endif %}
    </p>
    {% else %}
    <p class="vehicle-squared-highlight-wrapper-square-unit">{{ unit }}</p>
    {% endif %}

    <p class="vehicle-squared-highlight-wrapper-square-label">{{ label }}</p>
</div>
{% endmacro %}

{% macro slider(
id,
title,
min,
max,
value,
unit,
filter_key,
descriptions,
icons=[]
) %}
<div class="slider-container" data-slider-id="{{ id }}" data-filter-key="{{ filter_key }}"
    data-descriptions='{{ descriptions | tojson }}'>

    <h2 class="slider-container-title">{{ title }}</h2>

    <div class="slider-container-wrapper">
        <p class="slider-container-wrapper-value_wrapper">
            <span class="slider__value">{{ value }}</span>
            <span class="slider__unit">{{ unit }}</span>
            <span class="slider__description"></span>
        </p>
    </div>

    <div class="slider-container-slider_wrapper">
        <input type="range" min="{{ min }}" max="{{ max }}" value="{{ value }}" class="js-slider" />

        {% if icons %}
        <div class="labels">
            {% for icon in icons %}
            <span class="label">
                {% if icon is string %}
                    <img src="{{ url_for('static', filename='imgs/icons/' ~ icon ~ '.svg') }}" />
                {% else %}
                    {% for subicon in icon %}
                        <img src="{{ url_for('static', filename='imgs/icons/' ~ subicon ~ '.svg') }}" />
                    {% endfor %}
                {% endif %}

            </span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}