{% extends "layout.html" %}
{% block title %}Terms and conditions - Belle Vitesse{% endblock %}
{% block content %}
<section class="section-site">
    <div class="main-wrapper terms-container">
        <h1 class="title-textual-section font-56 lh-20">Terms and conditions</h1>
        <p>
        Les présentes Conditions Générales s’appliquent à l’ensemble des contrats de location conclu entre le Client et la société RVZ, société par actions simplifiée au capital de 100.000€, immatriculée au RCS de CRETEIL sous le n°348.257.197 dont le siège social est sis 39 rue Maurice Gunsbourg – 94200 IVRY SUR SEINE.

Elles sont susceptibles d’être complétées par des conditions particulières négociées avec le Client.
Elles sont accessibles à tout moment sur le site Internet de RVZ.

Ces Conditions Générales pouvant faire l’objet de modifications ultérieures, la version applicable au contrat est celle en vigueur à la date de passation de la commande.

 

<span class="dot-before">1 – Conclusion du Contrat de location</span>

a) Bien loué
RVZ loue du matériel professionnel pour le cinéma, la photographie et la télévision (ci-après le « Matériel »).
La description et les caractéristiques techniques des Matériels sont disponibles sur son site Internet à l’adresse http://rvz-location.fr/.
Les caractéristiques des Matériels figurant sur le site Internet sont celles communiquées par le fabriquant. RVZ n’est donc pas responsable d’un éventuel défaut de conformité.

RVZ loue également à titre accessoire des véhicules utilitaires sans chauffeur afin de permettre le transport des Matériels par le Client.

La location d’un véhicule utilitaire est conditionnée par la détention depuis plus de deux ans par le Client ou par le conducteur désigné par le Client d’un permis de conduire original en français en cours de validité de catégorie adaptée à la catégorie du véhicule loué.

Les Matériels et véhicule sont ci-après fésignés « Produits ».

b) Client
Tout professionnel ou consommateur, au sens du Code de la consommation, a la possibilité de louer des Produits auprès de RVZ (ci-après désignés ensemble « Client » ou individuellement « Client Professionnel » et « Client consommateur »).

La personne agissant au nom d’une personne morale est présumée disposer d’un mandat.

c) Ouverture de compte
Lorsque les locations sont régulières, un Compte Client peut être ouvert au nom du Client auprès de RVZ.
L’ouverture d’un Compte Client est conditionnée par l’acceptation expresse de RVZ et par la communication par le Client des documents et garantie ci-dessous :
• Pour les personnes physiques : copie d’une pièce d’identité en cours de validité, copie d’un justificatif de domicile de moins de trois mois, et une garantie sous forme de pré-autorisation de paiement émise par carte bancaire à son nom et prénom.
• Pour les personnes morales : extrait Kbis de moins de trois mois, copie de la pièce d’identité du dirigeant, une garantie sous forme de chèque bancaire.

RVZ a la possibilité de demander au Client, à tout moment, d’actualiser ces documents.
Le compte du Client sera clôturé par RVZ en cas de manquement par celui-ci à ses obligations contractuelles ou de non-respect des présentes Conditions Générales de Location.

d) Processus de commande
Le Client doit adresser à RVZ une demande de devis par courriel à l’adresse location@rvz.fr précisant:

a. le ou le(s) Matériels concernés,
b. s’il souhaite louer un véhicule
c. la durée de la location et les dates prévisionnelles de location,
d. le lieu de remise des Produits : le Client a la possibilité de venir retirer les Matériels loués directement au sein des locaux de RVZ durant les heures d’ouverture ou de solliciter leur livraison à une adresse déterminée.
RVZ adresse un devis précisant:

a. la période de la location.
b. le prix de la location.
c. le montant des éventuels frais de livraison.
d. le prix de l’assurance.
e. le montant du dépôt de garantie, sauf lorsque le Client a un compte client.
f. Le délai de règlement.
g. Les conditions générales de location applicables.
h. La liste des documents à transmettre lors de l’acceptation du devis, sauf lorsque le Client a un compte client.
Le Client transmet son acceptation à RVZ en lui retournant le devis signé avec la mention « bon pour accord » accompagné des documents demandés par RVZ.
L’acceptation du devis emporte acceptation des présentes conditions générales et formation du contrat.
Les Produits sont réservés à compter de cette acceptation.

 

<span class="dot-before">2 – Prix et dépôt de garantie</span>

a) Prix
Le prix de la location s’entend hors taxe. Il convient d’y ajouter le coût de l’assurance et les éventuels frais de livraison.
Toute prestation réalisée par RVZ non stipulée au sein du devis sera facturé au Client au tarif en vigueur (chargement, déchargement, nettoyage du Matériel etc).

b) Dépôt de garantie
Le dépôt de garantie vise à garantir l’exécution par le Client de ses obligations contractuelles, et son respect des présentes conditions générales de location.
Il doit être versé dans son intégralité préalablement au début de la location. A défaut, RVZ refusera de remettre les Produits réservés. Dans cette hypothèse, le Client demeurera débiteur de l’intégralité du prix de la location, et ne saurait solliciter son remboursement auprès de RVZ.
Il est versé par le Client personne physique sous forme de pré-autorisation de paiement émise par carte bancaire au nom du Client, et, pour les personnes morales par chèque bancaire.
A la fin de la location, après paiement du Prix et après vérification de l’état des Produits, le dépôt de garantie est restitué par RVZ au Client déduction de toute somme due par le Client au titre de la location en application des présentes conditions générales.

 

<span class="dot-before">3 – Exécution du contrat</span>

a) Remise des Produits
Après paiement du dépôt de garantie, RVZ remet au Client les Produits réservés soit sur le site de RVZ (aux heures et jours d’ouverture) soit sur le site désigné par le Client lors de la commande.
L’heure de livraison sur le site désigné par le Client est une heure prévisionnelle. RVZ s’engage à faire ses meilleurs efforts pour la respecter.
Les Produits sont réputés être en bon état de fonctionnement, et livré complet avec l’ensemble de ses accessoires. Le Client doit signaler, lors de la remise, tout Produit manquant ou tout dysfonctionnement d’un Produit. A défaut, il ne saurait contester ultérieurement le fonctionnement et le nombre de Produit qui lui a été remis.

La remise des Produits au Client n’entraine aucun transfert de propriété des Produits qui demeurent la propriété de RVZ. Le Client s’interdit de masquer ou démonter les plaques de propriétés indiquant que le Produit appartient à RVZ.

Le Client ne peut céder les Produits ou les sous-louer.
En revanche, le Client assume les risques des Produits à compter de cette date et jusqu’au jour de leur restitution à RVZ.
Le Client est seul responsable du chargement et du déchargement du Matériel au sein du véhicule.

RVZ se réserve le droit de facturer au Client le chargement ou le déchargement du Matériel dans le véhicule, lorsque celui-ci est effectué, en partie ou en totalité, par RVZ.

b) Utilisation des Produits
Le Client s’engage à utiliser les Produits en professionnel précautionneux et à en faire un usage conforme à leur destination et à leurs conditions normales d’utilisation.
Il s’engage à n’y apporter aucune modification et s’interdit d’y installer des accessoires, des pièces annexes ou tout autre dispositif.
Le Client s’engage à prendre toutes les mesures de conservation des Produits. Notamment en dehors des heures de tournage, le Client s’engage à ce que le véhicule contenant le Matériel soit stationné dans un garage gardé ou fermé.

c) Restitution des Produits
Le Client restitue les Produits en bon état d’usage et de fonctionnement, avec tous leurs accessoires, au jour et au lieu convenu avant 10 heures.
Il est invité à déclarer à RVZ tout désordre ou tout incident affectant les Produits.
RVZ contrôle l’état des Produits avant d’accepter leur restitution.
En cas de dommage affectant le Produit lors de sa restitution, le montant de la franchise ou le coût des réparations s’il est inférieur sera facturé par RVZ au Client.

La restitution anticipée du Produit n’entraine pas une réduction du prix.

Toute restitution tardive justifie la facturation par RVZ d’une pénalité de retard égale au montant journalier du prix de la location. Cette indemnité est due pour chaque jour de retard, toute journée commencée justifiant l’application de l’intégralité de la pénalité.

 

<span class="dot-before">4 – Paiement</span>

RVZ remet au Client la facture au plus tard au jour de la remise des Produits.
Lorsque le montant de la location est inférieur ou égal à 500€TTC, la facture est réglée par carte bancaire au jour de l’enlèvement.
Lorsque le montant de la location est supérieur à 500€TTC, le Client doit régler la facture dans un délai de 30 jours à compter de la date de son émission.
Les Parties peuvent convenir de conditions de règlement différente, notamment pour les longs métrages ou les contrats de location de longue durée (durée supérieure à 1 mois).

Tout défaut de règlement de la facture dans le délai donnera lieu à l’application de pénalité de retard calculées au taux d’intérêt appliqué par la Banque centrale européenne à son opération de refinancement la plus récente majoré de 10 points de pourcentage sur le montant TTC de la facture impayée.

Une indemnité forfaitaire pour frais de recouvrement d’un montant de 40 euros sera due, de plein droit et sans notification préalable.
Tout défaut de règlement de la facture dans le délai autorisera RVZ à ne pas remettre au Client les Produits réservés le jour de la location, sans préjudice du droit de RVZ de poursuivre le règlement de cette facture

 

<span class="dot-before">5 – Responsabilité</span>

a) Responsabilité du Client
A compter de la remise des Produits, le Client est responsable de tout dommage subi par les Produits ou causé aux tiers par les Produits, sauf si ces dommages résultent d’un vice caché du Produit.

b) Responsabilité de RVZ
RVZ n’est pas responsable des éventuelles pannes ou dysfonctionnements du Produit pouvant survenir durant la location.
Le Client décharge expressément RVZ de tout responsabilité à ce titre. Le Client reconnait expressément qu’il ne pourra solliciter de RVZ aucune indemnisation au titre du préjudice qu’il pourrait subir du fait de la panne ou du dysfonctionnement, ni aucune diminution du prix ou remboursement.

En cas de survenance d’une panne ou d’un dysfonctionnement durant la durée de la location, le Client doit immédiatement le signaler à RVZ par téléphone avec confirmation écrite par courriel.
RVZ fera ses meilleurs efforts afin de dépanner le Produit à distance. En cas d’échec, RVZ dépannera le Produit sur place, et dans la mesure du possible remplacera le Produit dans les meilleurs délais.

Important : Le contenu, les données, les rushes, les éléments visuels et sonores qui peuvent être stockés sur les supports photo-chimiques, magnétiques ou informatiques fournis par RVZ ne sont pas assurés par cette dernière.
Après mise à disposition au Client, RVZ ne garantit pas le bon fonctionnement du matériel électronique ou informatique de stockage des données ou des signaux numériques.

RVZ ne garantit pas l’intégrité des données numériques qui pourraient lui être remises par le Client. RVZ n’est pas responsable de la perte ou de la détérioration des données. Le Client décharge expressément RVZ de toute responsabilité à ce titre et déclare faire son affaire personnelle des risques liés au contenu. RVZ préconise à son Client de souscrire une assurance pour le couvrir de ce risque et de dupliquer les données afin d’assurer leur sauvegarde.

 

<span class="dot-before">6 – Assurance du Matériel</span>

a) Assurance couvrant les dommages au Matériel
Les Matériels sont assurés, par la police souscrite par RVZ, moyennant le paiement par le Client du montant de l’assurance fixé au sein du devis.

Risques assurés : Le Matériel loué auprès de RVZ est assuré contre les risques d’accident, et vol avec effraction. Les biens non loués auprès de RVZ ne sont pas couverts par cette police d’assurance.

Montant de la franchise supportée par le Client : En cas de sinistre, le montant de la franchise supportée par le Client est de :

Montant franchise
Matériel camera 20% de la valeur du matériel avec un minimum de 2500€ et un maximum de 6500€
Matériel lumière, photo, accessoires et régie 1000€/éléments
Démarche à réaliser auprès de RVZ : En cas de sinistre affectant le Matériel, le Client doit adresser à RVZ une déclaration circonstanciée dans un délai de 48 heures. Cette déclaration doit préciser les circonstances, date, heure et lieu du sinistre, l’identification du Matériel, et l’identité des personnes impliquées.
En cas de vol, dommage corporel, dégradation par vandalisme, une plainte doit être déposée au commissariat de police et l’original doit être remis à RVZ dans ce même délai.
A défaut de réaliser ces démarches dans les délais, le Client encourt une déchéance de garantie.

Effet sur la location : Dans le cas de dommage, la période de location sera comptabilisée jusqu’à la remise en état du Matériel après réparation, sans que cette durée ne puisse excéder un mois. Les réparations pourront être effectuées soit par les équipes techniques de RVZ, soit par le constructeur ou un représentant agréé de celui-ci. En cas de vol, de perte ou de sinistre total, la période de location sera comptabilisée jusqu’à la production par le Client de la déclaration officielle de sinistre, majorée forfaitairement d’un mois, afin de tenir compte du délai de remplacement des Matériels.

Exclusions : L’assurance ne couvre pas les risques d’émeute, de guerre, de compétitions, de travaux hors-séries, de travaux dangereux, de risques prévisibles, ainsi que la casse de lampes ou fresnels.

Sont également exclus, et ne peuvent prétendre à aucune prise en charge :

les risques de production ;
les pertes de matériel ;
les vols sans effraction ou agression caractérisée ;
les vols de Matériel laissé dans un véhicule non gardienné ou stationné dans un endroit non sécurisé ;
les sinistres faisant suite à un manquement caractérisé de surveillance ou de gardiennage des Matériels loués au Client et dont il a la garde ;
les sinistres faisant suite à une mauvaise utilisation ou à une utilisation non conforme du Matériel ;
les sinistres faisant suite à une utilisation par un personnel non qualifié ou non habilité.
Plus généralement, tout sinistre non couvert par la compagnie d’assurance de RVZ sera à la charge du Client, et ce pour quelque raison que ce soit.
En cas de sinistre non couvert par l’assurance de RVZ, le montant des réparations ou du remplacement du Matériel, ainsi que les éventuels dégâts connexes, seront intégralement à la charge du Client qui s’acquittera sans délai de la facturation correspondante.

Assurance souscrite directement par le Client : Le Client a la possibilité de ne pas souscrire à l’assurance de RVZ à la condition de souscrire lui-même une assurance auprès d’une compagnie d’assurance notoirement solvable.

Dans cette hypothèse, l’assurance souscrite par le Client doit couvrir les Matériels contre tous les risques pour leur valeur de remplacement à neuf à compter de la remise des Matériels et jusqu’au jour de leur restitution. Un coefficient de vétusté peut être appliqué pour les Matériels non récents (plus de cinq ans). Le Client devra remettre à RVZ une attestation d’assurance précisant les montants garanties au moins deux jours ouvrés avant la remise des Matériels. En cas de sinistre, si le Client n’est pas couvert par notre police d’assurance, le règlement de la facture devra se faire sans délais.

RVZ se réserve le droit de refuser de remettre au Client les Matériels si elle estime que l’assurance souscrite par le Client est insuffisante.

b) Assurance couvrant les dommages causés aux tiers par un Matériel
Le Client doit souscrire une assurance responsabilité civile auprès d’une compagnie d’assurance notoirement solvable garantissant sa responsabilité civile à l’égard des tiers du fait du Matériel loué.

 

<span class="dot-before">7 – Annulation – Prolongation</span>

a) Annulation
Le Client doit notifier à RVZ par courriel à l’adresse location@rvz.fr l’annulation de sa réservation.

En cas d’annulation de la réservation moins de 24 heures avant la remise des Produits, hors exercice du droit de rétractation du Client consommateur, RVZ se réserve le droit de facturer au Client une indemnité pouvant aller jusqu’à 80% du montant de la location, ou une indemnité de 580HT si l’annulation concerne le Produit « car loge ». Cette facture sera réglée conformément aux stipulations de l’article 6 susvisé. Ce règlement ne constitue pas une renonciation de RVZ à solliciter réparation de l’intégralité de son préjudice.

b) Prolongation
Toute demande de prolongation de la durée de la location doit être adressée à RVZ par mail au moins 24 heures avant la date de retour initiale, et, doit être expressément acceptée par RVZ.

 

<span class="dot-before">8 – Résolution du Contrat</span>

En cas de manquement du Client à ses obligations contractuelles, RVZ a la faculté de résilier le contrat de location. Cette résiliation aura lieu de plein droit 8 jours après l’envoi, par courrier recommandé, d’une mise en demeure de s’exécuter restée sans effet.
Dans cette hypothèse, RVZ pourra conserver le montant du dépôt de garantie à titre de dommages et intérêts, sans préjudice du droit de RVZ de solliciter réparation de l’intégralité de son préjudice.
Le Client sera tenu de restituer immédiatement les Produits à RVZ.
A défaut de restitution, le Client sera débiteur d’une indemnité journalière équivalente au montant du loyer journalier majoré de 50% ou de la valeur de remplacement à neuf du Matériel.

 

<span class="dot-before">9 – Protection des données personnelles</span>

En application de la loi 78-17 du 6 janvier 1978 modifiée par la loi n°2018-493 du 20 juin 2018, il est rappelé que les données nominatives demandées au Client sont nécessaires au traitement de sa commande et à l’établissement des factures, notamment.
Ces données peuvent être communiquées aux éventuels partenaires de RVZ chargés de l’exécution, du traitement, de la gestion et du paiement des contrats.
Le Client dispose, conformément aux réglementations nationales et européennes en vigueur d’un droit d’accès permanent, de modification, de rectification, d’opposition de portabilité et de limitation du traitement s’agissant des informations le concernant.
Ce droit peut être exercé dans les conditions et selon les modalités définies au sein de la politique de confidentialité de RVZ.

 

<span class="dot-before">10 – Droit de rétractation du Client Consommateur</span>

Le Client Consommateur dispose, conformément à la loi d’un délai de rétractation de 14 jours à compter de l’acceptation du devis pour exercer son droit de rétractation auprès de RVZ et annuler sa commande, sans avoir à justifier de motifs ni à payer de pénalité, afin de remboursement, sauf si la remise des Produits et l’exécution du contrat de location a commencé, avec l’accord du Client Consommateur, avant la fin du délai de rétractation.
Le droit de rétractation peut être exercé, à l’aide du formulaire de rétractation ci-joint ou de toute autre déclaration, dénuée d’ambiguïté, exprimant la volonté de se rétracter et notamment par courrier postal adressé au siège de RVZ ou par mail à l’adresse location@rvz.fr.
Le remboursement des sommes effectivement réglées par le Client Consommateur sera effectué dans un délai de 14 jours à compter de la réception, par RVZ, de la notification de la rétractation du Client Consommateur.

 

<span class="dot-before">11 – Droit applicable – langue</span>

Les présentes Conditions générales et les opérations qui en découlent sont régies par le droit français.
Elles sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues, seul le texte français ferait foi en cas de litige.

 

<span class="dot-before">12 – Litige</span>

Tous les litiges auxquels les contrats de location conclus en application des présentes conditions générales pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résiliation, leurs conséquences et leurs suites et qui n’auraient pu être résolues amiablement entre le RVZ et le Client seront soumis au tribunal de commerce de PARIS.
Le Client Consommateur est informé qu’il peut en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation.

 

<span class="dot-before">13 – Information précontractuelle – Acceptation du Client Consommateur</span>

Le Client Consommateur reconnaît avoir eu communication, préalablement à la passation de sa commande et à la conclusion du contrat, d’une manière claire et compréhensible, des présentes Conditions Générales de Vente et de toutes les informations listées à l’article L.221-5 du Code de la consommation et notamment les informations suivantes :
– les caractéristiques essentielles du service;
– le prix des services et des frais annexes ;
– les informations relatives à l’identité de RVZ, à ses coordonnées postales, téléphoniques et électroniques, et à ses activités, si elles ne ressortent pas du contexte ;
– les fonctionnalités du contenu numérique et, le cas échéant, à son interopérabilité ;
– la possibilité de recourir à une médiation conventionnelle en cas de litige.

 

<span class="dot-before">CONDITIONS SPECIFIQUES A LA LOCATION DE vehicle</span>

En plus des conditions générales visées ci-dessus, la location d’un véhicule est soumise aux conditions spécifiques précisées ci-après.
La prise en charge du véhicule implique l’acceptation sans réserves des conditions générales de location et des conditions spécifiques.

 

<span class="dot-before">1 – Dépôt de garantie</span>

Le montant du dépôt de garantie est fixé au sein du devis remis par RVZ.
Après restitution du véhicule et en l’absence de retenu, le dépôt de garantie sera restitué au Client dans un délai de six mois à compter de la restitution.

 

<span class="dot-before">2 – Utilisation du véhicule</span>

Le véhicule peut uniquement être utilisé dans le pays au sein duquel il a été loué sur les routes carrossables autorisées à la circulation.
Le Client s’engage à utiliser le véhicule conformément à sa destination en bon père de famille. Il vérifiera avant chaque utilisation les niveaux d’huile, de liquide de refroidissement, de liquide de freins ainsi que la pression des pneumatiques.
Le Client s’engage à respecter la destination du véhicule loué et à ne pas transporter du matériel dont le poids dépasse les limites autorisées par le constructeur. Le Client doit s’assurer de l’absence de surcharge du véhicule. Il reconnait donc expressément être seul responsable en cas de dommage causé par une surcharge du véhicule ou en cas d’immobilisation du véhicule par les autorités du fait d’une surcharge. Aucune réclamation ne pourra être adressée à RVZ à ce titre.
Le Client veillera à utiliser le carburant correspondant au Véhicule.

Les utilisations suivantes du véhicule sont expressément interdites :

Fourniture d’un service de transport à titre gratuit ou onéreux.
Tracter ou pousser un autre véhicule ou une remorque.
Apprentissage de la conduite, compétition sportive.
Transporter des matière inflammables, explosives, corrosives ou comburantes.
Transporter des animaux, à l’exception des animaux domestiques.
Le Client doit veiller à ce que le véhicule soit fermé à clef en dehors des périodes d’utilisation.
Un kit de sécurité (triangle et gilet) est mis à la disposition du Client au sein du véhicule. Ce kit doit être restitué avec le véhicule à la fin de la location. A défaut, le Client se trouvera débiteur d’une indemnité de 15€.
Le Client est responsable des infractions au Code de la route commises durant la période de location, ainsi que des redevances et frais de stationnement. Il s’acquittera directement des amendes, procès verbaux, contraventions liés au non-respect du Code de la route. Dans l’hypothèse où RVZ serait destinataire d’un procès-verbal au titre d’une infraction commise durant la période de location, elle communiquera les coordonnées du Client aux autorités compétentes et lui facturera des frais de gestion à hauteur de 20€TTC.

 

<span class="dot-before">3 – Consignes à respecter en cas de panne ou d’accident</span>

En cas de survenance d’une panne ou d’un accident causé par le véhicule ou dans lequel le véhicule est impliqué, le Client doit :
• Prévenir immédiatement RVZ par téléphone en précisant les lieux et circonstances de la panne ou de l’accident
• En cas d’accident, adresser une déclaration à RVZ dans les 48 heures de l’évènement par lettre recommandée avec accusé de réception, afin que RVZ puisse effectuer auprès de son assureur, sa déclaration de sinistre dans les cinq jours. Le Client est responsable des conséquences d’un retard ou d’une absence de déclaration.
• En cas accident causé par le Véhicule ou dans lequel le Véhicule est impliqué, réaliser un constat amiable et faire établir un rapport de police ou de gendarmerie.

 

<span class="dot-before">4 – Assurance</span>

a) Assurance du véhicule
Les véhicules sont assurés, par la police souscrite par RVZ, moyennant le paiement par le Client du montant de l’assurance fixé au sein du devis.
Cette assurance est obligatoire. Le Client ne peut pas refuser de payer le montant de cette assurance.

Risques assurés : Les véhicules loués auprès de RVZ sont assurés tous risques. Les biens se trouvant au sein du véhicule ne sont pas couverts par cette police d’assurance.

Exclusions : Ne sont pas couverts par l’assurance :

Les parties hautes des véhicules (l’horizontal du volant les déterminant).
L’ensemble des dommages causés par le Client alors qu’il se trouvait en état d’ébriété, ou sous l’effet de substance susceptible de modifier ses réflexes.
L’ensemble des dommages causés par un conducteur non autorisé ou non titulaire d’un permis de conduire en cours de validité.
Les dommages consécutifs à un choc aux parties supérieures (porche, pont, obstacle en hauteur….).
Les dommages liés au non-respect des consignes de sécurité ou d’utilisation.
Les dommages résultant d’une surcharge du véhicule.
Les dommages liés à la négligence notoire du conducteur.
Les dommages causés par du vandalisme (jantes, pneus, rétroviseurs, tags, carburant inapproprié …).
Les dommages causés par un défaut d’entretien.
Les dégâts causés à l’intérieur des carrosseries par suite du déplacement de la marchandise.
Les matériels et objets transportés.
Les crevaisons.
Les dégradations intérieures.
Le vol de pièces et accessoires.
Plus généralement, tout sinistre non couvert par la police d’assurance de RVZ sera à la charge du Client.
Dans ces hypothèses, le Client indemnisera RVZ à hauteur de l’intégralité du coût des réparations.
Si la réparation du Véhicule est impossible, le Client paiera à RVZ la valeur du Véhicule (valeur à neuf avec application d’un coefficient de vétusté par année d’utilisation).
Le Client supportera également les frais de dépannage et de rapatriement du Véhicule.
L’immobilisation du véhicule suite à un sinistre sera facturée au Client au tarif journalier de location en vigueur jusqu’à la remise en état du véhicule.

 

Montant de la franchise supportée par le Client (avec tiers identifié) :

Montant franchise
Camion 14m3 1600 €
Camion 20m3 hayon 2000 €
Camion 35m3 3000 €
Camion groupe 2000 €

 

Montant de la franchise supportée par le Client (sans tiers identifié)  :

Montant franchise
Camion 14m3 2500 €
Camion 20m3 hayon 3800 €
Camion 35m3 5500 €
Camion groupe 4500 €

 

Démarche à réaliser auprès de RVZ
En cas de sinistre affectant le véhicule, le Client doit adresser à RVZ une déclaration circonstanciée dans un délai de 48 heures.
En cas de vol, une plainte doit être déposée au commissariat de police avec copie à RVZ. Les clefs et papiers du véhicule devront être restitués à RVZ dans un délai de 24 heures.
Dans tous les cas, les constats amiables, les rapports de police ou de gendarmerie doivent être adressés à RVZ par courrier dans un délai de 48 heures.

Effet sur la location : Dans le cas de dommage, la période de location sera comptabilisée jusqu’à la remise en état du Matériel après réparation, sans que cette durée ne puisse excéder un mois. Les réparations pourront être effectuées soit par les équipes techniques de RVZ, soit par le constructeur ou un représentant agréé de celui-ci. En cas de vol, de perte ou de sinistre total, la période de location sera comptabilisée jusqu’à la production par le Client de la déclaration officielle de sinistre, majorée forfaitairement d’un mois, afin de tenir compte du délai de remplacement des Matériels.

b) Assurance couvrant les dommages causés à un tiers par un véhicule
RVZ a souscrit une police d’assurance conforme aux articles L.311-1 et suivants du Code des assurances.
Cette police couvre les dommages causés aux tiers par le véhicule loué dès lors qu’il est impliqué dans un accident de la circulation.

Attention : lorsque le véhicule n’est pas impliqué dans un accident de la circulation, les dommages causés par un véhicule à un tiers ne sont pas couverts par la police d’assurance souscrite par RVZ. Il appartient au Client de s’assurer contre ce risque dont il est seul responsable en sa qualité de gardien.

RVZ remettra au Client à première demande, une photocopie de son attestation d’assurance en vigueur.

Les dommages occasionnés aux biens appartenant au client et à ses préposés, qu’ils soient transportés ou non dans le véhicule, ou aux biens qui leur sont confiés ne sont pas couverts par cette police. Il appartient au Client de les assurer.

Obligations du Client : En cas accident causé par le Véhicule ou dans lequel le Véhicule est impliqué, le Client s’engage à réaliser un constat. Il s’engage à le déclarer à RVZ, dans les 48 heures, par téléphone et par lettre recommandée avec accusé de réception, afin que RVZ puisse effectuer auprès de son assureur, sa déclaration de sinistre dans les cinq jours. Le Client est responsable des conséquences d’un retard ou d’une absence de déclaration.
        </p>
    </div>
</section>
{% endblock %}