{% extends "layout.html" %}
{% from "macros.html" import slider %}
{% block title %}Vehicles - Belle Vitesse{% endblock %}
{% block content %}
{# <section id="hero-banner" class="section-site">
    <div class="categories-hero-banner img-overlay bg-vehicles">
        <div class="main-wrapper categories-hero-banner-titlewrapper">
            <h1 class="categories-hero-banner-titlewrapper-title color-white-2">
                Vehicles
            </h1>
            <div class="categories-hero-banner-textwrapper">
                <p class="dot-before categories-hero-banner-textwrapper-text color-white-2 font-weight-300 lh-05">
                    Meet our fleet
                </p>
            </div>
        </div>
        <div class="icon-scroll"></div>
</section> #}
<section id="solutions" class="section-site">
    <div class="categories-solutions">
        <h2 class="dot-before title-section font-32">Our vehicles</h2>
        <div class="filtersliders-container">
            {# SLIDER SPEED #}
            {{ slider(
            title="Which speed do you need?",
            min=5,
            max=50,
            value=5,
            unit="km/h",
            filter_key="speed",
            descriptions=[
            (5, "That's enough for walking"),
            (15, "That's what you need for an average runner"),
            (30, "Perfect for cycling"),
            (45, "Motorized speed")
            ],
            icons=[
            "walk",
            "run",
            "run-fast",
            "bike",
            "atv"
            ]
            ) }}
            {# SLIDER CAPACITY #}
            {{ slider(
            title="How many persons needs to be on the vehicule?",
            min=O,
            max=3,
            value=0,
            unit="",
            filter_key="capacity",
            descriptions=[
            (0, "Driver only"),
            (1, "1 driver + 1 passenger"),
            (2, "1 driver + 2 passengers"),
            (3, "1 driver + 3 passengers"),
            ],
            icons=[
            ["steering"],
            ["steering", "human-male"],
            ["steering", "human-male", "human-male"],
            ["steering", "human-male", "human-male", "human-male"]
            ]
            ) }}
        </div>

        <div class="categories-solutions-categories font-18">
            {% for vehicle in vehicles %}
            {% if vehicle.fields.status == "Online" %}
            <div data-speed="{{ vehicle.fields.max_speed }}" data-capacity="{{vehicle.fields.passengers}}"
                class="categories-solutions-categories-categorywrapper">
                <h3>{{ vehicle.fields.name }}</h3>
                <a class="categories-solutions-categories-img-link"
                    href="{{ url_for('vehicle', slug=vehicle.fields.slug) }}">
                    {% if vehicle.fields.thumbnail[0].thumbnails is defined %}
                    <img src="{{ vehicle.fields.thumbnail[0].thumbnails.large.url }}" />
                    {% else %}
                    <img src="{{ url_for('static', filename='/imgs/placeholders/vehicle.jpeg') }}" />
                    {% endif %}
                </a>
            </div>
            {% endif %}
            {% endfor %}
</section>
{% endblock %}