.fc-event {
    cursor: pointer;
}

.fc-daygrid-event {
    font-size: 0.85rem;
    padding: 2px 4px;
}

.fc-toolbar-title {
    font-size: 1.25rem !important;
}

.fc-button-primary {
    background-color: var(--grey-1) !important;
    border-color: var(--grey-1) !important;
}

.fc-button-primary:hover {
    background-color: var(--admin-accent) !important;
    border-color: var(--admin-accent) !important;
    color: var(--grey-1) !important;
}

.fc-button-active {
    background-color: var(--admin-accent) !important;
    border-color: var(--admin-accent) !important;
    color: var(--grey-1) !important;
}

.fc .fc-button:focus,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none !important;
}

.fc .fc-button-primary:disabled {
    background-color: var(--grey-2) !important;
    color: var(--white-1) !important;
    cursor: default;
    border-color: var(--grey-2) !important;
}